<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anmis.anmis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.anmis.anmis.activity.UpDownOutInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.SelectedableTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.ScrollerGradientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.PullToRefreshActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.PinnedHeaderExpandTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.SurfaceViewTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.RetroFitTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.DataBindingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.FrescoTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.anmis.anmis.activity.GreenDaoTestActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>